@import "./imports/breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @include respond(big-desktop){
    font-size: 120%;
  }

  @include respond(tab-land){
    font-size: 90%;
  }

  @include respond(tab-port) {
    font-size: 85%;
  }
  
  @include respond(ipad) {
    font-size: 90%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5rem;
}

.background {
  height : 100vh;
  width : 100vw;
  background-color: #858da0;

  .main {    
    height: 35rem;
    width: 70rem;
    background-color: white;
    box-shadow: .5rem .5rem 1.2rem rgb(117, 117, 117);
    border-radius: 1rem;
    overflow: hidden;

    //placing at center
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @include respond(ipad){
      height: 100vh;
      width: 100vw;
      border-radius: 0;
    }
  }
  
}