.chatHeader {
    flex : 0 0 15%;
    background-color: #1d24375d;
    box-shadow: 0 .2rem .6rem #1d2437;

    display: flex;
    align-items: center;


    .heading {
        flex : 0 0 90%;
        font-size: 2.4rem;
        color: #d4d4d4;
        font-weight: 700;
        margin: 0;
        padding-left: 1.5rem;
    }

    .settings {
        flex: 0 0 10%;
        color: #e75a89;
        font-size: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        position: relative;

        .settingsIcon{
            cursor: pointer;
        }

        .dropdown {
            font-size: 1.5rem;
            position: absolute;
            top: 130%;
            right: 5%;
            background-color: #141825;
            color: #d4d4d4;
            padding: .5rem 1rem;
            box-shadow: .2rem .2rem .4rem #141825;
            cursor: pointer;
            border-radius: .5rem;
            transition: all .2s;
            white-space: nowrap;
            display: none;
            opacity: 0;

            &:hover {
                background-color: #e75a89;
            }
        }

        .show {
            display: block;
            opacity: 1;
        }

    }

   

    

}