@import "../../imports/breakpoints.scss";

.chatFooter {
    flex: 0 0 12%;
    background-color: #1d24375d;
    align-items: center;
    padding : 0 1.5rem;
    display: flex;

    @include respond(ipad){
        flex: 0 0 7%;
    }

    @include respond(phone){
        padding: 0 .5rem;
    }

    .messageForm{
        flex: 1;
        display: flex;

        
        .messageInput {
            flex: 0 0 85%;
            margin-left: auto;
            background-color: #1d2437;
            color : #d4d4d4;
            font-size: 1.2rem;
            padding : .7rem .5rem;
            border-radius: .4rem 0 0 .4rem ;

            @include respond(ipad){
                flex: 0 0 90%;
                font-size: 1.4rem;
            }

            @include respond(phone){
                flex : 1;
            }
           
            //removing default outlines and borders
            border : none;
            outline : none;
    
            &::placeholder {
                color: #d4d4d4;
            }
        }
    
        .messageSend {
            flex : 0 0 7%;
            margin-right: auto;
            background-color: #1d2437;
            display: flex;
            padding: .4rem;
            border-radius: 0 .4rem .4rem 0;

            @include respond(phone-big){
                flex: 0 0 3rem;
            }
                
           .messageSendBackground {
                flex: 1;
                background-color: #e75a89;
                color: #d4d4d4;
                border-radius: .4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                cursor: pointer;
                outline: none;
                border: none;
    
                &:focus {
                    outline: none;
                    border: none;
                }
           }
        }
    }

    
}