@import "../../imports/breakpoints.scss";

.cover {

    display: flex;
    height: 100%;
    width: 100%;

    .sidenav {
        flex : 0 0 20%;
        background-color:#1d2437 ;
        transition: all 2s;
    
        @include respond(ipad){
            display: none;
            flex: 0 0 100%;
            padding: 10rem;
            opacity: 0;

            background-color: #121724;
        }

        @include respond(phone){
            padding: 5rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        
        .closeMenu{
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            padding: 5rem;
            color: #e75a89;
            font-size: 2rem;

            @include respond(ipad){
                display: block;
            }

            @include respond(phone){
                padding: 2rem;
            }
        }

        .titleContainer {

            flex: 0 0 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #e75a89;
            font-size: 1rem;

            @include respond(ipad){
                flex: 0 0 8%;
            }

            .title {
                flex: 0 0 15%;
                margin: 0;
            }

        }

        .chatList {
            flex : 1;
            padding: 2rem 1rem;
            flex-direction: column;
            align-self: stretch;
            text-align: center;
    
            .chatItem {
                color: #d4d4d4;
                font-size: 1.3rem;
                background-color: #141825;
                padding: .5rem 1rem;
                margin-top: .8rem;
                border-radius: .5rem;
                transition: all .2s;
                cursor: pointer;

                @include respond(ipad){
                    font-size: 1.6rem;
                    margin: 1rem 3rem 0 3rem;
                }

                @include respond(phone){
                    flex : 1;
                    margin: 1rem 0 0 0 ;
                }

                &:hover {
                    background-color: #e75a89;
                    transform: scale(1.05);
                }
            }

            .active {
                background-color: #e75a89;
                transform: scale(1.05);
            }

            .addChat {
                font-size: 1.5rem;
                color: #e75a89;
                padding: .5rem 2rem;
                margin-top: 1rem;
                transition: all .2s;
                border-radius: .5rem;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(ipad){
                    font-size: 2rem;
                }

                .addChatIcon {
                    transition: all .2s;
                }

                &:hover {
                    background-color: #141825;
                }

                &:hover .addChatIcon { 
                    transform: scale(1.1);
                }
            }
        }

        .logoutContainer {

            flex: 0 0 12%;
            display: flex;
            align-self: stretch;
            align-items: center;
            padding: 0 1rem;

            @include respond(ipad){
                flex: 0 0 7%;
            }

            .logout {
                flex: 1;
                color : #e75a89;
                font-size: 1.5rem;
                padding: .5rem 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .5rem;

                @include respond(ipad){
                    font-size: 2rem;
                }
    
                &:hover{
                    background-color: #141825;
                }
    
                .logoutIcon {
                    transition: all .2s;
                }
    
                &:hover .logoutIcon {
                    transform: scale(1.1);
                }
            }
        }
        
    }

    .menuOpen {
        display: flex;
        opacity: 1;
    }

}